{
  "presets": [[
    "@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          ">= 5% in KR",
          "not ie < 9"
          ]
      },
      "useBuiltIns": "usage",
      "corejs": 3,
      "debug": false,
      "shippedProposals": true
    }
  ] ,
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
